CDDA IV - Temporary password
:plain
  Hello #{user.login}!
  
  You've registered via an external service, and I have generated a
  temporary password for you:
  
  #{password}
  
  Please remember to change it or delete this email if you plan on
  using the sign-in option only. You can always reset your password
  if you are logged in.
  
  Best regards,
  CDDA IV Mailer
