CDDA IV - Password reset
:plain
  Hello #{user.login}!
  
  You've requested a password reset. Here's your new password:
  
  #{password}
  
  Please login at:
  
  http://#{request.host_with_port}/all
  
  and go to your user tab and change the password to something
  more permanent, preferably as soon as possible.
  
  Best regards,
  CDDA IV Mailer
