%div.btn-group{:role => 'group'}
  - if @filter_type == :none
    %a.btn.btn-default.active{:href => '?filter=none' } Everything
  - else
    %a.btn.btn-default{:href => '?filter=none' } Everything
  - if @filter_type == :issue
    %a.btn.btn-default.active{:href => '?filter=issue'}
      %span.octicon.octicon-issue-opened
      Issues only
  - else
    %a.btn.btn-default{:href => '?filter=issue'}
      %span.octicon.octicon-issue-opened
      Issues only
  - if @filter_type == :pr
    %a.btn.btn-default.active{:href => '?filter=pr'}
      %span.octicon.octicon-git-pull-request
      PRs only
  - else
    %a.btn.btn-default{:href => '?filter=pr'}
      %span.octicon.octicon-git-pull-request
      PRs only
  - if stale
    - if @filter_type == :stale
      %a.btn.btn-default.active{:href => '?filter=stale'}
        %span.octicon.octicon-alert
        Stale only
    - else
      %a.btn.btn-default{:href => '?filter=stale'}
        %span.octicon.octicon-alert
        Stale only
%br
%br
