.footer
  &copy; Copyright 2015 Piotr S. Staszewski.
  - if @nojs
    Not using JavaScript, switch
    %a{:href => '?nojs=no'} on here
  - else
    Using JavaScript, switch
    %a{:href => '?nojs=yes'} off here
