%br
.well.well-sm.small
  Welcome to the official C:DDA Issue Voting site. Please bear in mind that the votes you cast here work more like "likes" or "thumbs up". They are here as a suggestion for prioritization of work for both developers and the community at large. By no means is this site an "oracle" that will dictate what gets done, what does not and in what order. In other words this is a place were you can communicate your preferences quickly, and interested parties can quickly judge the general sentiment of the player base towards issues and features in the pipeline.
