.container
  %a{:name => 'logreg'}
  %div.row
    %div.col-md-4
      .well.well-sm.small
        %ul.list-unstyled
          %li Signup will create a verified account if the username is available.
          %li Login is case-sensitive, has to be pure-ASCII alphanumeric, minimum 3 characters long.
          %li Password has to be minimum 6 characters, and is unfiltered.
          %li You need a working e-mail address. You will receive a verification e-mail with a link to click. Unverified accounts are deleted within two days.
          %li Your e-mail will be shown only to you, and used only for verification and password reset.
          %li You will be able to update your e-mail or password at any time.
          %li This requires cookies. Passwords are stored in a sensible manner.
    %div.col-md-4
      %div.panel.panel-default
        %div.panel-heading Login here
        %div.panel-body
          %form{:role => "form", :action => "/login", :method => "post"}
            .form-group
              %input.form-control{:name => "login", :type => "text", :placeholder => "Login"}
            .form-group
              %input.form-control{:name => "pass", :type => "password", :placeholder => "Password"}
            .form-group
              %button.btn.btn-success{:type => "submit"} Login
              %a{:href => '/reset'} Forgot password?
          Or sign-up with:
          %br
          %a.btn.btn-warning{:href => "https://github.com/login/oauth/authorize?scope=user:email&client_id=#{@oauth[:github][:id]}"} GitHub
          %a.btn.btn-warning{:href => "https://accounts.google.com/o/oauth2/auth?client_id=#{@oauth[:google][:id]}&response_type=code&scope=openid%20email&redirect_uri=#{@oauth[:google][:uri]}&state=#{@token}"} Google
    %div.col-md-4
      %div.panel.panel-default
        %div.panel-heading Or register here
        %div.panel-body
          %form{:role => "form", :action => "/register", :method => "post"}
            .form-group
              %input.form-control{:name => "login", :type => "text", :placeholder => "Login"}
            .form-group
              %input.form-control{:name => "passa", :type => "password", :placeholder => "Password"}
            .form-group
              %input.form-control{:name => "passb", :type => "password", :placeholder => "Password again"}
            .form-group
              %input.form-control{:name => "email", :type => "email", :placeholder => "E-Mail"}
            %button.btn.btn-success{:type => "submit"} Register
